/* GLOBAL */

body {

}

#root {

}

/* GLOBAL COLORS */


/* NAV */


/* HEADER */


/* FOOTER */

/* SOCIAL MEDIA CARDS */

/* this is specifically needed to removed 
   to add white borders to the twitter
   widjet and center it */
twitterwidget {
  margin: auto!important;
  position: relative!important;
}

twitterwidget::before {
  content: " ";
  display: block;
  border: 1px solid white;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.card__white-border-3px {
  position: relative;
}

.card__white-border-3px::before {
  content: " ";
  display: block;
  border: 3px solid white;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.card__white-border-1px {
  position: relative;
}

.card__white-border-1px::before {
  content: " ";
  display: block;
  border: 1px solid white;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

/* responsive embed cards */
/* they also crop the bottom 
   which is not ideal, might
   be possible to fix in some
   other way. */

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; overflow: 
  hidden; max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}

.card__image {
  max-height: 600px;
  max-width: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
  border-radius: 2px;
}

/*************
 * MODIFIERS *
 *************/

/* FLEX MODIFIERS */


/* MARGIN MODIFIERS */

.m-t-10 {
  margin-top: 10px!important;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-t-0 {
  margin-top: 0px!important;
}

.m-b-0 {
  margin-bottom: 0px!important;
}

/* PADDING MODIFIERS */

.p-t-10 {
  padding-top: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-t-0 {
  padding-top: 0px;
}

.p-b-0 {
  padding-bottom: 0px;
}

/* BORDER MODIFIERS */

.border-0 {
  border: 0;
}

.b-t-0 {
  border-top: 0px!important;
}

.b-b-0 {
  border-bottom: 0px!important;
}

.b-l-0 {
  border-left: 0px!important;
}

.b-r-0 {
  border-right: 0px!important;
}

/* COLOR MODIFIERS */

.bg-transparent {
  background: #00000000;
}