/* GLOBAL */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700');

main {
  min-height: 60vh;
}

input[placeholder] {
  text-overflow: ellipsis;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
